node_modules
**/node_modules
dist
**/dist
deploy
data
.vscode
.cursor
terminals
.git
.gitignore
.env
*.log
config/.storage
config/.cache
config/.HA_VERSION
config/.ha_run.lock
config/secrets.yaml
config/*.db
config/*.db-shm
config/*.db-wal
config/*.log
config/*.log.*
